[submodule "LoremIpsum"]
	path = LoremIpsum
	url = https://github.com/TheRealVira/LoremIpsum-Webinterface.git
[submodule "Services/LoremIpsum"]
	path = Services/LoremIpsum
	url = https://github.com/TheRealVira/LoremIpsum-Service.git
