<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/eb6f1b9f-7f94-4099-be94-a52dde54c3cd/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/LogonAPI20190213124407</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://logonapi20190213124407.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/eb6f1b9f-7f94-4099-be94-a52dde54c3cd/resourceGroups/LipsumResources/providers/Microsoft.ContainerRegistry/registries/registry20181107124125</ContainerResourceId>
    <ContainerResourceName>registry20181107124125</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20181107124125.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0bb61236-1b55-4722-bc85-5c3d5ec73548</ProjectGuid>
  </PropertyGroup>
</Project>